<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />
    <title>Geo Social</title>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript" src="../static/js/markerclusterer.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="vdata.json"></script>
<script type="text/javascript" src="../static/js/menu.js"></script>
<script type="text/javascript" src="../static/js/overlays.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/overlays.css">
<link rel="stylesheet" type="text/css" href="../static/css/main_page.css">
<script type="text/javascript">
/*  $(function(){
    var wrapper = $( ".file_upload" ),
        inp = wrapper.find( "input" ),
        btn = wrapper.find( ".button" ),
        lbl = wrapper.find( "mark" );

    // Crutches for the :focus style:
    inp.focus(function(){
        wrapper.addClass( "focus" );
    }).blur(function(){
        wrapper.removeClass( "focus" );
    });

    var file_api = ( window.File && window.FileReader && window.FileList && window.Blob ) ? true : false;

    inp.change(function(){
        var file_name;
        if( file_api && inp[ 0 ].files[ 0 ] )
            file_name = inp[ 0 ].files[ 0 ].name;
        else
            file_name = inp.val().replace( "C:\\fakepath\\", '' );

        if( ! file_name.length )
            return;

        if( lbl.is( ":visible" ) ){
            lbl.text( file_name );
            btn.text( "Выбрать" );
        }else
            btn.text( file_name );
    }).change();

});
$( window ).resize(function(){
    $( ".file_upload input" ).triggerHandler( "change" );
});*/
</script>
  </head>
  <body>
<div id='podlogka' onclick=closeAll()></div>
<div>
<input type="checkbox" id="on-check" name="on-check" />
	 <label id="on-button" for="on-check">
	 <span><span class="ss-plus"><img src="../static/img/2.jpg"></span></span>
	 </label>
</div> 
<div class="faux-shadow"> </div>

<div class="chat">
	<div id="income">
	</div>
	<textarea id="yourtext">
	</textarea>
</div>
<div class="add_window">  
  <label id="id_topic" for="id_topic">Место:</label> <input id="id_topic1" maxlength="50" name="topic" type="text" /></p>
  <p><label for="id_content">Описание:</label> 
  <textarea class="area_input" cols="60" id="id_content" name="content" rows="10">
  </textarea>
      <label class="file_upload">
        <span class="button">Выбрать</span>
        <mark>Файл не выбран</mark>
        <input type="file">
    </label>
  <input  id="add_button_marker" type="button" class="button_friend" value="добавить метку">
</div>
<div class="add_window_place">  
  <label id="id_topic" for="id_topic">Место:</label> <input id="id_topic1" maxlength="50" name="topic" type="text" /></p>
  <p><label for="id_content">Описание:</label> 
  <textarea class="area_input" cols="60" id="id_content" name="content" rows="10">
  </textarea>
      <label class="file_upload">
        <span class="button">Выбрать</span>
        <mark>Файл не выбран</mark>
        <input type="file">
    </label>
  <input  id="add_button_marker_place" type="button" class="button_friend" value="добавить метку">
</div>
<div class="add_window_self">  
  <label id="id_topic" for="id_topic">Место:</label> <input id="id_topic1" maxlength="50" name="topic" type="text" /></p>
  <p><label for="id_content">Описание:</label> 
  <textarea class="area_input" cols="60" id="id_content" name="content" rows="10">
  </textarea>
      <label class="file_upload">
        <span class="button">Выбрать</span>
        <mark>Файл не выбран</mark>
        <input type="file">
    </label>
  <input  id="add_button_marker_self" type="button" class="button_friend" value="добавить метку">
</div>
<div class="meet_window">  
  <div class="page_meet">
  <div class = "inline">
  <label class = "Title">Place</label>
  <div class="description">Description</div>
    <img class="meet_img" src="../static/img/ava_1.png">
  <div class="line_bottom"></div>
</div>
  <div class = "Wall">    
    <div class="comment">
     <div id="comment_circle"></div> 
     <div id="comment_friend">   
     <div id='comment_text'>
        <span id="friend_font">Дмитрий Петров</span>
        <div class = "del_comment">X</div>
        <br>
        <span>Comment</span> <br>
     </div>     
      </div>
    </div></div>
      </div > 
</div>

<div class="meet_window">  
  <div class="page_met">
  <div class = "inline">
  <label class = "Title">Поход в парк</label>
  <div class="description">открытая, мирная, доступная каждому, проводимая в форме собрания, митинга, демонстрации, шествия или пикетирования либо в различных сочетаниях этих форм акция, осуществляемая по инициативе граждан Российской Федерации, политических партий, других общественных объединений и религиозных объединений. Целью публичного мероприятия является свободное выражение и формирование мнений, а также выдвижение требований по различным вопросам политической, экономической, социальной и культурной жизни страны и вопросам внешней политики.</div>
    <img class="meet_img" src="../static/img/ava_1.png">
  <div class="line_bottom"></div>
</div>
  <div class = "Wall">    
    <div class="comment">
     <div id="comment_circle"></div> 
     <div id="comment_friend">   
     <div id='comment_text'>
        <span id="friend_font">Дмитрий Петров</span>
        <div class = "del_comment">X</div>
        <br>
        <span>Збс мероприятие. Давно ждал его. Хочу сходить.</span> <br>
     </div>     
      </div>
    </div></div>
      </div > 
</div>

<div class="place_window">  
  <div class="page_place">
  <div class = "inline">
  <label class = "Title">Поход в парк</label>
  <div class="description">открытая, мирная, доступная каждому, проводимая в форме собрания, митинга, демонстрации, шествия или пикетирования либо в различных сочетаниях этих форм акция, осуществляемая по инициативе граждан Российской Федерации, политических партий, других общественных объединений и религиозных объединений. Целью публичного мероприятия является свободное выражение и формирование мнений, а также выдвижение требований по различным вопросам политической, экономической, социальной и культурной жизни страны и вопросам внешней политики.</div>
    <img class="meet_img" src="../static/img/ava_1.png">
  <div class="line_bottom"></div>
</div>
  <div class = "Wall">    
    <div class="comment">
     <div id="comment_circle"></div> 
     <div id="comment_friend">   
     <div id='comment_text'>
        <span id="friend_font">Дмитрий Петров</span>
        <div class = "del_comment">X</div>
        <br>
        <span>Збс мероприятие. Давно ждал его. Хочу сходить.</span> <br>
     </div>     
      </div>
    </div></div>
      </div > 
</div>

<input onclick="openLocations();" type=button value="Места в виде списка" class='global_button'>

<ul id="avatar_menu">
   <li id="li1"><a href="#"><img src="../static/img/1.png"></a></li>
   <li id="li2"><a href="#"><img src="../static/img/1.png"></a></li>
   <li id="li3"><a href="#friends"><img src="../static/img/1.png"></a></li>
   <li id="li4"><a href="#events"><img src="../static/img/1.png"></a></li>
</ul>

<ul id="menu">
   <li id="m1"><a href="#">Семиохин&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Степан </a></li>
   <div class='changePoint1'><li id="m3"><a href="#friends" onClick="openDiv('friends')">Друзья</a></li></div>
   <div class='changePoint'><li id="m7"><a href="#dialogs" onClick="openDialogs()">Диалоги</a></li></div>
   <div class='changePoint2'><li id="m4"><a href="#events" onClick="openDiv('events')">Места</a></li></div>
   <div class='changePoint3'><li id="m5"><a href="#meetings" onClick="openDiv('meetings')">Встречи</a></li></div>
   <div class='changePoint'><li id="m6"><a href='#' onClick="messageCheck()">Выход</a></li></div>
</ul>

<div class="brd" id="friends">
  <div class="upPanel">
    <div id='blockArticle'>ВАШИ ДРУЗЬЯ</div>
    <button id="sortButton" onclick="sort()">Отсортировать</button>
    <select id="chooseSort">
      <option>Без сортировки</option>
    </select>
  </div>
   <div class="one_friend">
     <div id="circle_mini"></div> 
     <div class="friend_block">   
     <div id='descriptionBlock'>
        <span id="friend_font">Дмитрий Петров</span>
        <button class="button_friend" id='startChat' onclick="startChat()" style='width:130px'>Начать чат</button>
        <br>
        <span>Дата рождения:</span> <br>
        <span>Интересы:</span> <br>
        <span>О себе:</span>
        <br><br>
     </div>  
     <div id='buttonBlock'>
        <button class="button_friend">Пригласить...</button>
        <button class="button_friend" id="recommend">Порекомендовать...</button>
        <button class="button_friend" id="delete">Удалить из друзей</button>
      </div>   
      </div>
    </div>  
</div>

<div class="brd" id="dialogs">
  <div class="upPanel" id = 'dialogPanel'>
    <div id='blockArticle'>ВАШИ ДИАЛОГИ</div> 
    <div style = 'display:block;height:40px'>
    <button id="sortButton" onclick="sort()">Отсортировать</button>
    <select id="chooseSort">
      <option>Без сортировки</option>
    </select>
  </div>
  </div>  
  <a href='#' class='one_dialog' id='check1' onclick='oneDialog(1)'>  <!--динамически создаём id-шник, через 'check'+i,i передаем в функцию-->
    <div class="circle_dialog"></div> 
    <div class='messageBlock'>
      <div style='font-size:23px;padding:2px 0 7px 15px'>Дмитрий Петров</div>
      <div style='padding:0 0 0px 6px'>Привет</div>
    </div>
    </a>
</div>

<div class="brd" id="events">
  <div class="upPanel">
    <div id='blockArticle'>МЕСТА</div>
    <button id="sortButton" onclick="sort()">Отсортировать</button>
    <select id="chooseSort">
      <option>Без сортировки</option>
    </select>
  </div>
   <div class="one_event">
     <div id="event_square"></div> 
     <div class="event_block">   
     <div id='descriptionBlock'>
        <span id="event_font">Театр "Бедный Йорик"</span> <br>
        <span>Тип:</span> <br>
        <span>Время работы:</span> <br>
        <span>Описание:</span>
     </div>  
     <div id='buttonBlock'>
        <button class="button_event">Добавить в закладки</button>
        <button class="button_event">Не интересует</button>
        <button class="button_event">Напоминание</button>
     </div>   
</div>
</div>  
</div>

<div class="brd" id="meetings">
  <div class="upPanel">
    <div id='blockArticle'>ВАШИ ВСТРЕЧИ</div>
    <button id="sortButton" onclick="sort()">Отсортировать</button>
    <select id="chooseSort">
      <option>Без сортировки</option>
    </select>
  </div>
   <div class="one_meeting">
     <div id="meeting_square"></div> 
     <div class="meeting_block">   
     <div id='descriptionBlock'>
        <span id="meeting_font">Поход в парк</span> <br>
        <span>Дата начала мероприятия:</span> <br>
        <span>Время начала:</span> <br>
        <span>Описание:</span>
        <br><br>
     </div>  
     <div id='buttonBlock'>
        <button class="button_meeting">Присоединиться</button>
        <button class="button_meeting">Не интересует</button>
        <button class="button_meeting">Напоминание</button>
     </div>   
    </div>
  </div> 
</div>

<div class="dialogWindow">
  <div id='incomeBig'>
  </div>
  <textarea id='yourtextBig'>
  </textarea>
</div>

<div class='locationWindow'>
   <div class="upPanel">
    <div id='blockArticle' style='margin:4px 15px 2px 0'>ВАШИ ДИАЛОГИ</div> 
    <button id="sortButton" onclick="sort()">Отсортировать</button>
    <select id="chooseSort">
      <option>Без сортировки</option>
    </select>
  </div> 
    <div class="one_location">
     <div id="location_square"></div> 
     <div class="location_block">   
     <div id='descriptionBlock' style = 'width:350px'>
        <span id="location_font">Кинотеатр "Check-фильм"</span> <br>
        <span>Тип:</span> <br>
        <span>Время работы:</span> <br>
        <span>Описание:</span>
        <br><br>
     </div>  
     <div id='buttonBlock' style = 'margin-left:370px; height:inherit'>
        <button class="button_location">Добавить в закладки</button>
        <button class="button_location">Не интересует</button>
        <button class="button_location">Напоминание</button>
     </div>   
    </div>
  </div> 
</div>

<div id="triangle"></div>

<div id="up-triangle"></div>
    <div class = "block">
      <div id="map-canvas"></div>
    </div> 
  </body>
</html>
