      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        width: 1360px;
        overflow: hidden;
        position: absolute;
      }
      #panel {
        position: absolute;
        top: 0px;
        left: 46%;
        margin-left: -180px;
        z-index: 1;

        padding: 5px;
      }

/*СТЕПА*/
#menu{
   
   position: absolute;
   margin:0px 0 0 0px; /*было 70px*/
   width:170px;
   height: 630px;
   border-bottom-right-radius:95%;
   border:3px solid #4682B4;
   background-color:#33b5e4;
   -moz-opacity: 0.9; /* Mozilla 1.6 и ниже */
   -khtml-opacity: 0.9; /* Konqueror 3.1, Safari 1.1 */
   opacity: 0.9;
   z-index:2;
}

#menu #m1,#m2,#m3,#m4,#m5,#m6,#m7 {
   display:block;
   margin:0 0 0 -40px;
   border-bottom:1px solid #0099cc;
   transition: background 0.3s 0.1s ease;
}
#menu #m1{
   width:111%;
}
#menu #m2{
   width:106%;
}
#menu #m3{
   width:98%;
}
#menu #m4{
   width:79%;
}
#menu #m5{
   width:65%;
}
#menu #m6{
   width:43%;
}
#menu #m7{
   width:90%;
}

#menu a{
   display:block;
   padding:13px 0 13px 12px;
   font: bold 21px Times New Roman;
   color:#555;
   text-decoration:none;
}

#menu #m1 a{
   font:bold 24px Comic Sans MS;
   color:#ffffff;
   padding:200px 0 20px 0;
}

#menu #m2 a{
  margin-left: 68px;
}
#menu #m3 a{
  margin-left: 55px;
}
#menu #m4 a{
  margin-left: 25px;
}
#menu #m5 a{
  margin-left: 17px;
}
#menu #m6 a{
  margin-left: 0px;
}
#menu #m7 a{
  margin-left: 38px;
}
#menu a:hover{
	color: #AFEEEE !important;
}

#circle { 
   position:absolute;
   top:2px;
   left:102px;
    max-width: 100%;
    height: auto;
   z-index:3;
   width: 200px;
   height: 200px;
   -moz-opacity: 1.0; /* Mozilla 1.6 и ниже */
   -khtml-opacity: 1.0; /* Konqueror 3.1, Safari 1.1 */
   opacity: 1.0;
   border:3px solid #4682B4;
   color:#fff;
   background: #d5d2d2; 
   -moz-border-radius: 100%; 
   -webkit-border-radius: 100%; 
   border-radius: 100%;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}
#on-button {
   overflow:hidden;
   position:absolute;
   top:2px;
   left:102px;
    max-width: 100%;
    height: auto;
   z-index:3;
   width: 200px;
   height: 200px;
   -moz-opacity: 1.0; /* Mozilla 1.6 и ниже */
   -khtml-opacity: 1.0; /* Konqueror 3.1, Safari 1.1 */
   opacity: 1.0;
   border:6px solid #4682B4;
   color:#fff;
   background: #d5d2d2; 
   -moz-border-radius: 100%; 
   -webkit-border-radius: 100%; 
   border-radius: 100%;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
	 text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	 box-shadow: inset 0 -125px 100px -100px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0,0,0,0.2);
	}
	/* При наведении курсора мыши */
#on-button:hover {
	 box-shadow: inset 0 125px 100px -100px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0,0,0,0.2);
	}
	/* При нажатии кнопки мыши*/
#on-button:active {
	 box-shadow: inset 0 125px 100px -100px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0,0,0,0.2),
	 inset 0 0 30px rgba(0,0,0,0.3);
	}
	/* Элемент spans внутри кнопки будет вращаться */
#on-button > span {
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 -o-backface-visibility: hidden;
	 -webkit-transition: -webkit-transform 0.2s linear;
	 -moz-transition: -moz-transform 0.2s linear;
	 -ms-transition: -moz-transform 0.2s linear;
	 -o-transition: -moz-transform 0.2s linear;
	 transition: -moz-transform 0.2s linear;
	 display: block;
	 width: 100%;
	 height: 100%;
	 background: #d5d2d2;
	 border-radius: 120px;
	 pointer-events: auto;
	 position: absolute;
	 z-index: 4;
	 top: 0;
	 left: 0;
	 box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-shadow: inset 0 -112px 100px -100px rgba(0, 0, 0, 0.5);
	}
	/* Изменение тени при наведении курсора мыши, что бы она соответствовала тени контейнера */
#on-button:hover > span {
	 box-shadow: inset 0 112px 100px -100px rgba(0, 0, 0, 0.5);
	}
	/* Вращение последнего элемента span, чтобы он был перевернутым */
#on-button > span:last-of-type {
	 -webkit-transform: rotateY(360deg);
	 -moz-transform: rotateY(360deg);
	 -o-transform: rotateY(360deg);
	 -ms-transform: rotateY(360deg);
	 transform: rotateY(360deg);
	}
	/* Добавляем псевдо элемент с белым фоном, который будет создавать
	 иллюзию, что есть дырка */
#on-button:after {
	 position: absolute;
	 content: " ";
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border-radius: 120px;
	 background: #fff;
	 z-index: 3;
	}
/* Когда элемент ввода отмечен, поворачиваем элементы span вокруг на 180 градусов */
	#on-check:checked + #on-button > span:first-of-type {
	 -webkit-transform: rotateY(360deg);
	 -moz-transform: rotateY(360deg);
	 -o-transform: rotateY(360deg);
	 -ms-transform: rotateY(360deg);
	 transform: rotateY(360deg);
	}
	#on-check:checked + #on-button > span:last-of-type {
	 -webkit-transform: rotateY(0deg);
	 -moz-transform: rotateY(0deg);
	 -ms-transform: rotateY(0deg);
	 -o-transform: rotateY(0deg);
	 transform: rotateY(0deg);
	}
input[type='checkbox'], input[type='radio'] { display: none; }

.brd {
   position:absolute;
   border: 4px solid #4682B4; /* Параметры границы */
   border-radius: 20px 0px 80px 0px;
   margin:0px 0 0 0px;   /* Было 280 */
   display:none;
   overflow:auto;
   width:1260px;
   height:610px;
   z-index:1;
   background-color: #fff; /* Цвет фона */
   padding: 10px; /* Поля вокруг текста */
}
#circle_mini{
   float:left;
   display:inline-block;
   margin:15px 0 0px 340px;
   width: 120px;
   height: 120px;
   border:3px solid #4682B4;
   background: #d5d2d2; 
   -moz-border-radius: 100%; 
   -webkit-border-radius: 100%; 
   border-radius: 100%;
}
.circle_dialog{
   float:left;
   display:inline-block;
   margin:10px 0 0px 10px;
   width: 50px;
   height: 50px;
   border:3px solid #4682B4;
   background: #d5d2d2; 
   -moz-border-radius: 100%; 
   -webkit-border-radius: 100%; 
   border-radius: 100%;
}
.one_friend,.one_event,.one_meeting,.one_location{
  display:block;
  width:100%;
  height:160px;
  border-bottom:2px solid #4682B4;
}
.one_meeting{
  border-bottom:2px solid #228B22;
}
.one_event{
  border-bottom:2px solid #333;
}
.one_dialog{
  display:block;
  width: 100%;
  height:75px;
  border-bottom: 1px solid #4682B4;
}
#friend_block, #event_block,#meeting_block,#location_block{
   display:inline-block;
   height:inherit;
   margin:0 0 0 0px;
}

.button_friend{
  width:170px;
  background-color: #15a0f4;
  border-radius: 1px;
  border: 2px solid #4682B4;
  box-shadow: #6E7849 0px 0px 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 17px;
  margin-left: 20px;
  margin-top:10px;
  padding: 6px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  -moz-border-radius: 1px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -webkit-border-radius: 1px;
  -webkit-box-shadow: #6E7849 0 0 10px;
}
.button_friend:hover {
  background-color: #5dc1fe;
}
#friend_font{
   font:bold 24px Comic Sans MS;
   color:#33b5e4;
   padding:0px 0 0px 40px;
}
.button_event{
  width:200px;
  background-color:#696969;
  border-radius: 1px;
  border: 2px solid #4682B4;
  box-shadow: #6E7849 0px 0px 10px;
  color:#fff;
  display: block;
  font-size: 17px;
  margin-left: 20px;
  margin-top:10px;
  padding: 6px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease-out;
    -moz-border-radius: 1px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-border-radius: 1px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease-out;
}
.button_event:hover {
  background-color: #000;
}
.button_meeting {
    width:200px;
  background-color:#32CD32;
  border-radius: 1px;
  border: 2px solid #4682B4;
  box-shadow: #6E7849 0px 0px 10px;
  color:#000;
  display: block;
  font-size: 17px;
  margin-left: 20px;
  margin-top:10px;
  padding: 6px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease-out;
    -moz-border-radius: 1px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-border-radius: 1px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease-out;
}

#event_font{
   font:bold 24px Comic Sans MS;
   color:#696969;
   padding:0px 0 0px 40px;
}
#meeting_font{
   font:bold 24px Comic Sans MS;
   color: #228B22;
   padding:0px 0 0px 40px;
}
#location_font{
   font:bold 24px Comic Sans MS;
   color:#696969;
   padding:0px 0 0px 1px;
}
#event_square,#location_square{
   float:left;
   display:inline-block;
   margin:15px 0 0px 340px;
   width: 120px;
   height: 120px;
   border:3px solid #696969;
   background: #d5d2d2; 
}
#location_square{
  margin-left: 20px;
}
#meeting_square{
   float:left;
   display:inline-block;
   margin:15px 0 0px 340px;
   width: 120px;
   height: 120px;
   border:3px solid   #228B22;
   background: #ADFF2F; 
}
.chat{
  position:absolute;
   border: 4px solid #4682B4; /* Параметры границы */
   border-radius: 20px 20px 20px 20px;
   margin:0 0 0 83%;
   display:none;
   overflow:auto;
   width:200px;
   height:230px;
   z-index:5;
   background-color: #fff; /* Цвет фона */
   padding: 10px; /* Поля вокруг текста */
     -moz-opacity: 1.0; /* Mozilla 1.6 и ниже */
   -khtml-opacity: 1.0; /* Konqueror 3.1, Safari 1.1 */
   opacity: 1.0;
}
#income{
   width:100%;
   height:75%;
   display:block;
   border-bottom:2px solid #888;
}
#incomeBig{
   width:100%;
   height:80%;
   display:block;
   border-bottom:2px solid #888;
}
#yourtext{
   display:block;
   margin-top:5px;
   width:100%;
}
#yourtextBig{
   display:block;
   margin:17px 10px 10px 17px;
   height: 82px;
   width:600px;
}

.label_rightclick {
    background: #33b5e4; /* Цвет фона */
    color: #fff; /* Цвет шрифта */
    text-align: center; /* Надпись на кнопке по центру */ 
    cursor: pointer; /* Изменение вида курсора при наведении*/
}
.label_rightclick a{
    font: bold 20px Times New Roman;
    display:block;
    border-top:1px solid #4682B4;
}
.label_rightclick a:first-child{
    border-top:0px solid #4682B4;
}
.label_rightclick a:hover {
    background: #3366FF; /* Цвет фона */
    font-weight: bold; /* Насыщенность шрифта */
    color: #fff; /* Цвет шрифта */
    text-align: center; /* Надпись на кнопке по центру */ 
    cursor: pointer;
}

#drop-down{
    position:absolute;
    background:#fff;
    border-radius: 0px 5px 40px 20px;
    margin-left:12px;
}
#drop-down:before { 
    content:"";
    position:absolute;
    width: 0; 
    height: 0; 
    border-top: 12px solid #33b5e4; 
    border-left: 12px solid transparent; 
    margin: 0 0 0 -12px;
}
#avatar_menu {   
    position: absolute;
}

#avatar_menu li {
    list-style-type:none;
}

#li1 { 
    position:absolute; 
    z-index:3;  
    margin:4px 0px 0px 50px; 
} 
#li2 { 
  position:absolute; z-index:3;  margin:50px 0px 0px 25px;
}
#li3 { 
  position:absolute; z-index:3;  margin:100px 0px 0px 25px;
}
#li4 { 
  position:absolute; z-index:3;  margin:149px 0px 0px 50px;
}
#li1 a{
  text-decoration:none;
}

.upPanel {
  width:100%;
  height:40px;
  border-bottom: 2px solid #666;
}
#dialogPanel {
  height:66px;
}
#chooseSort {
  float:right;
  display:inline-block;
  margin-left:5px;
  margin-top:7px;
}
#sortButton {
  float: right;
  display:inline-block;
  margin-left:5px;
  margin-top:7px;
}
#blockArticle {
  float:right;
  display:inline-block;  
  font:normal 27px Times New Roman;
  text-shadow: 1px 1px 3px #666, -1px -1px 3px #FFF, 1px 1px #666, -1px -1px #FFF;
  color:#0066FF;
}

#dialogs {
   position: fixed;
   border: 4px solid #4682B4; /* Параметры границы */
   border-radius: 0px 0px 0px 30px;
   display:none;
   width:300px;
   height:610px;
   background-color: #fff; /* Цвет фона */
   padding: 10px; /* Поля вокруг текста */
}

#descriptionBlock{
  position: fixed;
  margin-bottom: 40px;
  display: inline-block;
  height:inherit;
  width:400px;
  padding:0px 0px 0px 40px;
}

#buttonBlock {
  display:inline-block;
  margin-left: 440px;
  width: 200px;
}

.messageBlock{
  display:inline-block;
  margin-left: 10px;
  overflow:hidden;
}

.dialogWindow {
  position: absolute;
  display: none;
  height: 630px;
  width:690px;
  overflow:auto;
  z-index:6;
  background-color: #fff; /* Цвет фона */
  border-radius: 20px 20px 80px 20px;
  border: 4px solid #4682B4; /* Параметры границы */
}

#triangle {
  position: absolute;
  display: none;
  width: 0;
  z-index:6;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 25px solid #4682B4;
  border-bottom: 20px solid transparent;
}

.locationWindow {
  position: absolute;
  display: none;
  margin-left: 350px;
  margin-top: 40px;
  height: 590px;
  width:790px;
  overflow:auto;
  z-index:6;
  background-color: #fff; /* Цвет фона */
  border-radius: 20px 20px 20px 20px;
  border: 4px solid #4682B4; /* Параметры границы */
}

#up-triangle {
   position:absolute;
   margin-top: 28px;
   z-index:6;
   display: none;
   width: 0; 
   height: 0; 
   border-bottom: 14px solid #4682B4; 
   border-left: 10px solid transparent; 
   border-right: 10px solid transparent; 
}

.button_location {
  position: absolute;
  top: 0px;
  left: 70%;
  margin-left: -180px;
  z-index: 1;
  width:200px;
  background-color:#696969;
  border-radius: 1px;
  border: 2px solid #4682B4;
  box-shadow: #6E7849 0px 0px 10px;
  color:#fff;
  display: block;
  font-size: 17px;
  padding: 6px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease-out;
    -moz-border-radius: 1px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-border-radius: 1px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease-out;  
}